@charset "utf-8";
/* CSS Document */

body{
    font-family: Bendable;
    font-size: small;
    background-color: #fff;
    color: #342b23;
}
header{
	background-color: #aa8a39;
	width: 900px;
	height: 250px;
	padding: 2px;
	text-align: center;
	margin: auto;
}
.logoleft{
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}
section{
	width: 900px;
	background-image: url("images/Background-Image.png");
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
}
article{
	width: 800px;
	float: left;
	text-align: center;
	
}
footer{
	width: 900px;
	height: 70px;
	background-color: #aa8a39;
	color: #fff;
	margin: auto;
	text-align: center;
	font-family: arial;
}
h1{
    font-size: large;
	color: #fff;
}
h2{
    font-size: medium;
	margin: auto;
	padding: 3px;
}
h3{
    font-size: medium;
}
p{
	color: #fff;
	font-family: Bendable;
	margin: auto;
	padding: 3px;
}
nav{
	float: left;
	padding: 1px;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	flex-direction: column;
	
}
nav a{
	border: 2px inset #ccc;
	background-color: #fff;
	line-height: 250%;
	color: #b81e75;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
}
nav a:hover{
	color: #e0007f;
	border: 2px outset #ccc;
}
.thumbnailright{
    float: right;
    padding-left: 10px;
}
table{
    text-align: center;
    width: 100%;
    font-size: small;
    padding: 25px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}
td{
    background-color: #aa8a39;
    border: 1px Grey;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    border-radius: 50px;
}
th{
    color: #e0007f;
    background-color: #FFFFFF;
    font-size: large;
    font-family: Bendable;
}
caption{
    text-align: center;
    font-family: Bendable;
    font-size: larger;
    background-color: rgba(60, 60, 60, .25);
    border: 1px solid whitesmoke;
    border-radius: 30px 75px;
    color: #6f3838;
        
}
@font-face {
    font-family: Bendable;
    src: url("../../Fonts/CSS3Fonts/fonts/bendable.ttf");
}
#thumbs, #image {
		width: 600px;
		text-align: center;
		margin: 0 auto 0 auto;
		color: #000;
	}

#thumbs {
		margin-top: 10px;
		margin-right: 20px;
	}

			
#thumbs img {
		border: solid 1px #000;
		margin: 5px;
	}

#image{
		width: 600px;
		height:400px;
		overflow: hidden;
		margin-right: 20px;
	}